@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200;300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: #c1dbf78e;
}

.main-container {
  position: relative;
}

/* Form Style */

.form-style {
  width: 600px;
  background-color: white;
  border-radius: 10px;
  font-size: 0.85rem;
  padding-top: 9rem !important;
  margin-top: 11.5rem;
  margin-bottom: 5rem;
  box-shadow: 10px 10px 20px 20px rgba(118, 132, 179, 0.193), 10px 6px 20px 0 rgba(113, 134, 205, 0.132);
}

.form-select {
  font-size: 0.85rem;
}

.form-label {
  margin-bottom: 0.2rem;
  font-size: 0.75rem;
}

/* card  style */

.card-front {
  border-radius: 15px;
  /* background-color: #81c0ce; */
  background-image: linear-gradient(to top right, #070d3a, #e5eaeb);
  color: white;
  width: 350px;
  height: 230px;
  position: absolute;
  top: 0.65rem;
  box-shadow: 15px 10px 15px 10px #7684b34d, 15px 6px 10px 0 #7186cd2e;
  font-family: 'Gemunu Libre', sans-serif;
}

.chip{
  width: 40px;
  border-radius: 10px;
}

.logo{
  height: 50px;
}

.cc-imgs{
  width: 70px;
  margin-right: 4rem;
  padding-top: 0.5rem;
}

.ccv-front{
  width: 40px;
  margin-left: 6.5rem;
  padding-top: 0.5rem;
}

.card-number{
  font-size: 1.85rem;
}

.card-holder{
  margin-left: 0.3rem;
  border: 1px solid white;
  border-radius: 5px;
}

.card-label{
  font-size: 0.65rem;
  margin-bottom: 0.2rem;
  font-family: "Open Sans", sans-serif;
  padding-top: 0.2rem;
}

.magn-stripe{
  background-color: black;
  color: black;
  height: 1.6rem;
}

.sing-stripe {
  background-color: #dee1df;
  /* margin-top: 2rem; */
  height: 2.7rem;
  width: 65%;
  margin-right: 4rem;
  margin-left: 0.5rem;
  color: black;
}
.signature{
  font-size: 0.75rem;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-left: 0.5rem;
  letter-spacing: 0.06rem;
}

.cvv-back{
  width: 20%;
}

/* media query on tablet screen */
@media (max-width: 600px) {
  .form-style {max-width: 400px;}
}

/* media query on mobile screen */
@media (max-width: 420px) {
  .form-style {
    padding: 0.8rem !important;
    padding-top: 9rem !important;
    margin: 0 0.2rem !important;
    margin-top: 11.5rem !important;
    margin-bottom: 5rem !important;
    max-width: 280px;
  }
  .card-front {
    width: 280px;
    height: 180px;
    font-size: 0.55rem;
  }
  .card-number{
    font-size: 1.3rem;
  }
  .chip{
    margin-top: 0.2rem !important;
  }
  .cc-imgs {
    width: 50px;
    margin-right: 2rem;
  }
  .card-label{
    font-size: 0.45rem;
  }
  .logo{
    height: 30px;
  }
}
