* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: #c1dbf78e;
}

/* Form Style */

.form-style {
  max-width: 700px;
  background-color: white;
  border-radius: 10px;
  font-size: 0.85rem;
  padding-top: 9rem !important;
}


.form-select {
  font-size: 0.85rem;
}

.form-label {
  margin-bottom: 0.2rem;
}


/* card front style */

.card-front {
  border-radius: 15px;
  background-color: rgb(8, 8, 97);
  color: white;
  width: 350px;
  height: 200px;
}


/* media query on mobile screen */
@media (max-width: 411px){
  .form-style{
    padding: 0.8rem !important;
    padding-top: 9rem !important;
    margin: 0 0.5rem !important;
  }
  .card-front {
    width: 300px;
    height: 150px;
  }
}

